@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5585b5;
}

#main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5585b5;
    border-radius: 20px;
    padding: 20px;
    width: 400px;
    height: 600px;
    gap: 20px;
    position: relative;
}

h1 {
    font-size: 50px;
    color: #bbe4e9;
}

#state-app {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #79c2d0;
    border-radius: 50px;
    padding: 15px;
    width: 60%;
}

#state-app div {
    width: 50%;
    display: flex;
    justify-content: center;
}

#state-app p {
    color: #5585b5;
    font-weight: bold;
}

#time {
    background-color: #79c2d0;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#timer {
    color: #5585b5;
    font-size: 80px;
}

#settings-button img {
    width: 50px;
    cursor: pointer;
}

#settings-view {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #4e78a1;
    border-radius: 20px;
    height: 420px;
    width: 420px;
    position: absolute;
    box-shadow: 3px 3px 8px black;
}

#settings-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

#close-button {
    height: 40px;
    width: 40px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    font-weight: bold;
}

#close-button:hover {
    cursor: pointer;
    background-color: rgb(201, 0, 0);
}

h2 {
    margin-bottom: 50px;
    color: #bbe4e9;
}

#set-timers {
    display: flex;
}

#set-timers div label {
    font-weight: bold;
    color: #bbe4e9;
}

#set-timers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    width: 70%;
    height: 35px;
    border-radius: 50px;
    padding-left: 15px;
    border: none;
    box-shadow: 1px 3px 8px black;
}

#apply-button {
    margin-top: 40px;
    width: 200px;
    height: 60px;
    border: none;
    font-weight: bold;
    border-radius: 50px;
    background-color: #2f557a;
    font-size: 20px;
    color: #4e78a1;
}

#apply-button:hover {
    background-color: #25405c;
    cursor: pointer;
    box-shadow: 1px 3px 8px black;
}

@media all and (max-width: 760px) {
    #main-view {
        width: 300px;
        height: 533px;
    }

    #main-view h1 {
        font-size: 40px;
    }

    #state-app div {
        width: 50%;
    }

    #state-app {
        height: 30px;
        width: 250px;
    }

    #settings-view {
        width: 380px;
    }
}